div{
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}

.heading{
  text-align: center;
  color: rgb(255, 119, 0);
}
.url-bar{
  width:500px;
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
}
.send-btn{
  width:60px;
  height: 35px;
  border: 0.1px solid rgb(255, 255, 255);
  border-radius: 20px;
}
.send-btn:hover{
  width:70px;
  height: 38px;
  transition-duration: 500ms;
  background-color: black;
  color: white;
}

.url-boxing{
  padding:20px
}

.selecting{
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
}